<h1>Listing videos</h1>

<%= link_to 'New video', new_video_path %>

<table>
  <tr>
  </tr>

<% for video in @videos %>
  <tr>
    <td><%= video.title %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


