<h1>Brand for <%= link_to @client.name, @client %></h1>
<p>
  <b>Name:</b>
  <%=h @brand.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @brand.description %>
</p>

<p>
  <% form_for([@client, @brand]) do |f| %>
    <%= f.hidden_field :verified, :value => 1 %>
    <%= f.submit "Verify" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_client_brand_path(@client, @brand) %> | <%= link_to 'Show Products', client_brand_products_path(@client, @brand) %> | <%= link_to 'Back', client_brands_path(@client) %>
