<%= f.error_messages %>

  <%= yield %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :product_code %><br />
  <%= f.text_field :product_code %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
